/* GLOBAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 10px;
    --accent-color: orange;  
    --white-shade: #ddd; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* APP STRUCTURE */
body {
    font-family: 'Rubik', sans-serif;
    color: var(--white-shade);
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(./images/bacon_img.jpeg);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: cover;
    text-align: left;
    overflow: hidden;
}

.structure-div {
    padding: 2.4rem 4.8rem;
}

#header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--accent-color);
    height: 10vh;
}

#gallery {
    /* background: rgba(255,255,255, .1); */
    background: #222;
    width: 100%;
    border-bottom: 1px solid var(--accent-color);
    height: 30vh;
    display: flex;
    flex-direction: column;
}

#film-strip {
    background: black;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid var(--accent-color);
}

#history {
    width: 100%;
    height: 25vh;
    background: #222;
}

#footer {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0; left: 0;
    border-top: 1px solid var(--accent-color);
    height: 7.5vh;
}

/* TYPOGRAPHY */
p { 
    font-size: 1.6rem;
    color: var(--white-shade);
}
h1 {
    font-size:3.2rem;
    color: var(--white-shade);
}

/* HEADER */
/* HEADER -- LOGO */
.logo {
    display: flex;
    align-items: flex-end;
}
/* HEADER -- OPTIONS */
.options {
    display: flex;
    align-items: flex-start;
    height: 7vh;
}

button {
    background: var(--accent-color);
    color: black;
    padding: .4rem 1.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: .6rem;
    border: none;
    border-radius: .8rem;
}

/* GALLERY */
#choice-map {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


 .actor-pic {
     background: black;
     width: 120px;
     height: auto;
 }

 .actor-frame {
     background: black;
     width: 100px;
     height: 140px;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     overflow: hidden;
     border: 1px solid #999;
 }

 .actor-card p {
     margin: .6rem 0;
     font-size: 1rem;
     color: var(--white-shade);
 }

 .mystery-card {
     filter: grayscale(100%);
     opacity: 25%;
     color: red;
 }


 


/* CONTROL CENTER , NOW PART OF GALLERY*/
#control-center {
    /* background: #222; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 3.2rem 0 0 0;
}

#control-center h3 {
    font-size: 1.4rem;
    color: var(--accent-color);
    font-weight: 200;
    text-transform: uppercase;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
}

#scoreboard p {
    font-size: 3rem;
}

#clock,
#separation-degree,
#remaining-guess,
#progress {
    border: 1px solid var(--accent-color);
    padding: .6rem 1.2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 8vh;
}

#clock {
    width: 150px;
}

#progress > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#progress > ul > li {
    margin: 0 0 .2rem 0;
    padding: 0;
}


/* HISTORY DETAILS */
#history > ol {
    margin: 0;
    padding: 0;
}

#history > ol > li {
    margin: 0 0 1.2rem 1.2rem;
    padding: 0;
}

#history > h3 {
    font-size: 1.4rem;
    color: var(--accent-color);
    font-weight:200;
    text-transform: uppercase;
    margin: 1rem 0;
}

.film-title {
    font-style: italic;
}



/* FILM STRIP */
#film-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    margin-bottom: 30px;
}

#film-strip > h3 {
    padding: 1.2rem 48px;
    font-size: 1.4rem;
    color: var(--accent-color);
    font-weight:200;
    text-transform: uppercase;
}


/* FILM STRIP -- CARDS */
.film-card {
    /* background: var(--accent-color); */
    background: rgba(255,255,255,0.25);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 180px;
    height: 280px;
    padding: 1rem 1.6rem;
    z-index: 10;
    color: var(--white-shade);
    border: 1px solid #666;
}

.picture-frame {
    width: 145px;
    height: 200px;
    position: absolute;
    top: 50px; left: 1.6rem;
    z-index: 10;
    overflow: hidden;
    border: 1px solid #999;
}

.picture-movie {
    width: 145px;
    height: auto;
    

}

.film-card ul {
    list-style: none;
}

.film-card h2 {
    font-size: 1.2rem;
}

.film-card p {
    font-size: .8rem;
}

.cast {
    margin-top: 2.4rem;
}

.cast h4 {
    font-style: italic;
    font-weight: normal;
    margin-bottom: .2rem;
}

.cast li {
    font-size: 1rem;
}

.cast li:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.cast li:active {
    text-decoration: underline;
}

.cast-close-btn {
    position: absolute;
    bottom: 3.2rem;

}
/* FOOTER */
/* FOOTER -- LINKS */
.links {
    color: var(--white-shade);
    display: flex;
    justify-content: space-between;
    font-size: 3.2rem;
}

.links > i {
    margin-left: 1rem;
}


/* FOOTER -- CREDITS */
.credits {
    display: flex;
    align-items: flex-end;
    font-size: 1.8rem;
    margin-left: -.6rem;
    color: var(--white-shade);
}

.credits > p {
    font-size: 1rem;
    color: var(--white-shade);
    margin: 0 .4rem;
    text-transform: uppercase;
}


/* SPECIAL STARTER SECTION */
.actor-form {
    margin: 40px 40px;
    padding:  10px;
    background:rgba(0,0,0,0.5);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.actor-form form input[type=text] {
    text-align: center;
    width: 100%;
    padding: 12px 24px;
    background: #333;
    border: none;
    margin-bottom: 2.4rem;
    color: var(--white-shade);

}

.actor-form form input[type=submit] {
    background:var(--accent-color);
    color: black;
    padding: .4rem 1.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: .8rem;
    margin-bottom: 1.2rem; 
    
}

.actor-form p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.4rem;
    font-weight: 200;
    color: var(--white-shade);
}

.actor-form p span {
    font-style: italic;
}

.random-btn {
    margin-top: 1.2rem;
}

.actor-form section {
    margin-bottom: 3.6rem;
}

#start-choice, #start-random {
    border: 1px solid #666;
    padding: 20px;
    background:rgba(0,0,0,1);
}